@{
    ViewData["Title"] = "View Actors";
}
<h1>@ViewData["Title"]</h1>
<p>Check out the actors below!</p>
<div class="page-actions">
    <a asp-controller="Actors" asp-action="Index" class="btn btn-primary ui-button">View Actors</a>
</div>
