@{
    ViewData["Title"] = "My Films";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Films</h1>
    <p class="lead">Use the navigation to browse movies and actors. View IMDb data, Reddit comments, and sentiment analysis scores.</p>
</div>
