@{
    ViewData["Title"] = "My Films";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My films site!</h1>
    <p>Use the tabs and features to browse my favorite films. View relevant data from Imdb as well as reddit and sentiment analysis scores.</p>
</div>
